body{
    margin:0;
    font-family:sans-serif;
    background: url(../media/f4.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
}
/* Menu de navegacion */
.menu{
    position: fixed;
    top:0;
    height: 100vh;
    width: 15%;
    background-color: rgb(61, 60, 60);
    border-right: 4px solid rgb(7, 153, 63);
    color: white
}
 
ul{
    padding: 15px 5px;
    list-style-type: none;
}
li{
    margin:0;
    padding-top: 20px;
    border-bottom: 4px solid rgb(7, 153, 63);
    overflow: hidden;
   
}
li:hover{
    border-right: 2px solid rgb(7, 153, 63);
    box-shadow: 5px 5px rgb(0, 0, 0,0.2);
   
}
li:active{
    background-color: rgb(7, 153, 63);
}
.item{
    text-decoration: none;
    color:white;    
    display: block;
}  

.user_data,.user_img{
    width: 95%;
    margin-left: 3px;
    text-align: center;
}
.user_data{
    
    font-size: 12px;
}
.user_img{
    margin-top: 4em;
}
.userimg{
    border-radius: 50px;
    overflow: hidden;
}


/* Gestor de productos */
.main {    
    position: relative;
    left: 16%;
    width: 80%;
    padding: 15px;
}

h2{
    text-align: left;
    color: aliceblue;
}
.searcher{
    width: 50%;
    padding-bottom: 30px;   
    color: rgb(7, 153, 63); 
    
}
.insert{
    color: black;
    background-color:rgb(7, 153, 63,0.5);
    position: absolute;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px ;
    padding: 3px;
    top: 105px;
    right: 30px;
}
table{
    width: 100%;
    border-collapse: collapse;
    line-height: 2rem;
}
th,td{
    text-align: left;
    padding-bottom:1px;
    
    text-align: left;
    vertical-align: top;
    border: 1px solid #1eff00;
    padding: 0.2em;
    background: rgb(255, 255, 255);
}
.line{
    border-bottom: 2px solid rgb(7, 153, 63);
}
.line:hover{
    background-color: rgb(7, 153, 63,0.2); 
    height: 3em;
}
.edit{
    display: block;
    background-color: rgb(7, 153, 63,0.5);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.edit:hover, .insert:hover{
    background-color: rgb(7, 153, 63);
    color: aliceblue;
}
